{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<h1>Привет, я автор</h1>
<p>
  Меня зовут Жаринов Алексей! Я автор данного проекта!
</p>
<p>
  Это мой первый проект на Django, был разработан с целью освоить основыне инструменты фреймворка.
  Здесь вы сможете просматривать мои посты и посты других авторов. А может быть вы хотите сами что-то написать?
</p>
<p>
  Пройдите простую регистрацию, авторизируйтесь и напишите об этом пост! Не забудьте подписаться на 
  любимых авторов (на меня конечно же, мне будет очень приятно).
</p>
<p>
  Пока главный автор этого сайта - Лев Николавевич Толстой. Его посты - это записи ежедневника, посмотрите, очень интересно!
</p>
{% endblock %} 